@import "tailwindcss";

@theme {
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001F;
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-ovo {
  font-family: 'Ovo', serif;
}

.shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

